@model bookStore.Models.ChangePasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <h1 class="display-4 text-center">Change Password</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4 offset-4">
            @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    Password has been updated successfully
                </div>
            }
            <form asp-action="ChangePassword">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change password" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>