@model bookStore.Models.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}


<h1>ForgotPassword</h1>
<h4>ForgotPasswordModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        @if(Model.EmailSent ==true){
            <div class="alert alert-success" role="alert">
                <p>email sent to account</p>
            </div>
        }
        else{
            <form asp-action="ForgotPassword">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </form>
        }
        
    </div>
</div>
<div>
    <a asp-action="Login" asp-controller="Account"> Login</a>
</div>